<% if @show.errors.any? %>
<div class='alert alert-warning text green'>
<%= pluralize(@show.errors.count, "error") %> prevented this show from being saved.
</div>
<% end %>

<br>

<%= form.label :title, class:"text black field"%>
<%= form.text_field :title %>
<% @show.errors[:title].each do |err| %>
<span class='badge bg-warning text green'>Error: <%= @show.errors.where(:title).join(',') %></span>
<% end %>

<br>

<%= form.label :creator, class:"text black field" %>
<%= form.text_field :creator %>
<% @show.errors[:creator].each do |err| %>
<span class='badge bg-warning text green'>Error: <%= @show.errors[:creator].join(',') %></span>
<% end %>

<br>
<%= form.label :number_of_seasons, class:"text black field" %>
<%= form.number_field :number_of_seasons %>
<% @show.errors[:number_of_seasons].each do |err| %>
<span class='badge bg-warning text green'>Error: <%= @show.errors[:number_of_seasons].join(',') %></span>
<% end %>

<br>
<%= form.label :starting_year, class:"text black field" %>
<%= form.number_field :year %>
<% @show.errors[:year].each do |err| %>
<span class='badge bg-warning text green'>Error: <%= @show.errors[:year].join(',') %></span>
<% end %>

<br>
<%= form.label :episodes, class:"text black field" %>
<%= form.number_field :episodes, step: -1.01 %>
<% @show.errors[:episodes].each do |err| %>
<span class='badge bg-warning text'>Error: <%= @show.errors[:episodes].join(',') %></span>
<% end %>


<%= form.submit submit_text, class:"text black field"%>