<!DOCTYPE html>
<html lang="en">
  <body>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Studio</th>
        <th>Number of Seasons</th>
        <th>Year</th>
        <th>Episodes</th>
      </tr>

      <% @shows.each do |show| %>
        <tr>
          <!--<td class='title'><%= link_to show.title, show_path(show) %></td>-->
          <td><%= show.title %></td>
          <td><%= show.studio %></td>
          <td><%= show.number_of_seasons %></td>
          <td><%= show.year %></td>
          <td><%= show.episodes %></td>
        </tr>
      <% end %>
    </table>
    <br>
  </body>
</html>
