<%= stylesheet_link_tag 'showstyle', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="box">
  <h1 class="title black"><%= @show.title %></h1>

  <div class="less-space">
  <%= link_to "Delete show", show_path(@show), method: :delete, class: "text black underline smaller" %>
  <a class="text smaller black">
    &nbsp | &nbsp
  </a> 
  <%= link_to 'Edit show details', edit_show_path(@show), class: 'text black underline smaller' %>
  <a class="text smaller black">
    &nbsp | &nbsp
  </a> 
  <%= link_to "Back to index", shows_path, class: "text black underline smaller"%>
  </div>

  <table class="text black field">
    <tr>
      <th>Studio:</th>
      <td><%= @show.studio %></td>
    </tr>
    <tr>
      <th>Year:</th>
      <td><%= @show.year %></td>
    </tr>
    <tr>
      <th>Number of seasons:</th>
      <td><%= @show.number_of_seasons %></td>
    </tr>
  </table>
</div>

<table>
  <thead class="thead-light">
    <tr class="reviews_header">
      <th>Stars</th>
      <th>Review</th>
      <th>Reviewer</th>
    </tr>
  <thead>
  <tbody>
    <%@show.reviews.each do |r|%>
      <tr class="review">
        <td class="reviewstars">
          <%= r.stars %>
        </td>
        <td class="reviewtext">
          <%= r.review %>
        </td>
        <td class="reviewer">
          <%= r.review_author.name %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
