<h1>Show details</h1>

<h3><%= @show.title %></h3>
<dl>
  <dt>Studio</dt><dd><%= @show.studio %></dd>
  <dt>Year</dt><dd><%= @show.year %></dd>
  <dt>List Number of Seasons</dt><dd><%= @show.number_of_seasons %></dd>
</dl>

<table>
  <thead class="thead-light">
    <tr class="reviews_header">
      <th>Stars</th>
      <th>Review</th>
      <th>Reviewer</th>
    </tr>
  <thead>
  <tbody>
    <%@show.reviews.each do |r|%>
      <tr class="review">
        <td class="reviewstars">
          <%= r.stars %>
        </td>
        <td class="reviewtext">
          <%= r.review %>
        </td>
        <td class="reviewer">
          <%= r.review_author.name %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

<div class="row">
  <div class="col-md">
    <% if user_signed_in? %>
      <%= link_to "Write a review", new_review_path, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <% if user_signed_in? %>
      <%= link_to "Delete show", show_path(@show), method: :delete, class: "btn btn-danger" %>
      <%= link_to 'Edit show details', edit_show_path(@show), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

<br>
<%= link_to "Back to index", shows_path, class: "btn btn-primary"%>