<%= stylesheet_link_tag 'showstyle', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="box">
  <h1 class="title black"><%= @show.title %></h1>

  <% if user_signed_in? %>
  <div class="less-space">
  <% if current_user.admin == true%>
    <%= link_to "Delete show", show_path(@show), method: :delete, class: "text black underline smaller" %>
    <a class="text smaller black">
      &nbsp | &nbsp
    </a> 
    <%= link_to 'Edit show details', edit_show_path(@show), class: 'text black underline smaller' %>
    <a class="text smaller black">
      &nbsp | &nbsp
    </a> 
    <% end %>
    <%= link_to "Back to index", shows_path, class: "text black underline smaller"%>
    </div>
    <div>
      <%= link_to "Write a review", new_show_review_path(@show), :class => "text black underline smaller" %>
    </div>
  <% end %>


  <table class="text black field">
    <tr>
      <th>Title:</th>
      <td><%= @show.title %></td>
    </tr>
    <tr>
      <th>Creator:</th>
      <td><%= @show.creator %></td>
    </tr>
    <tr>
      <th>Starting year:</th>
      <td><%= @show.year %></td>
    </tr>
    <tr>
      <th>Number of seasons:</th>
      <td><%= @show.number_of_seasons %></td>
    </tr>
    <tr>
      <th>Number of episodes:</th>
      <td><%= @show.episodes %></td>
    </tr>
  </table>


  <table class="text black field">
    <thead class="thead-light">
      <tr class="reviews_header">
        <th>Reviewer</th>
        <th>Stars</th>
        <th>Review</th>
      </tr>
    <thead>
    <tbody>
      <%@show.reviews.each do |r|%>
          <td class="reviewer">
            <%= r.review_author.name %>
          </td>
          <td class="reviewstars">
            <%= r.stars %>
          </td>
          <td class="reviewtext">
            <%= r.review %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>