<!DOCTYPE html>
<html>
  <head>
    <title>GoodWatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <nav class="navbar">
      <div class="navitem">
        <%= link_to "GoodWatch", shows_path, class:"title white underline" %>          
      </div>
      <div class="navitem">
        <%= form_with url: shows_path, class:"text white", local: true, method: :get do %>
        <%= label_tag 'title_search' %>
        <%= text_field_tag 'title_search', nil, maxlength: 20 %>
        <%= submit_tag 'Search', class:"search-text green"%>
        <% end %>
      </div>
      <div class="navitem">
        <%= link_to (image_tag('plus.png')), new_show_path, class: "img" %>
      </div>
      <div class="navitem">
        <% if user_signed_in?%>
          <a class="text white">Logged in as <strong><%= current_user.email %></strong>.</a>
          <a class="text white">
            &nbsp &nbsp
          </a> 
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'text white' %>
          <a class="text white underline">
            &nbsp | &nbsp
          </a> 
          <%= link_to "Logout", destroy_user_session_path, local:true, method: :delete, :class => 'text white'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'text white underline'  %>
          <a class="text white">
            &nbsp | &nbsp
          </a>
          <%= link_to "Login", new_user_session_path, :class => 'text white underline'  %>
        <% end %>
      </div>
  </nav>
    
  </header>
  <% if !flash[:notice].nil?%>
    <div class="text notice">
      <%= flash[:notice] %>
      <%= flash[:notice] = nil %>
  <% end %>
  <%= yield %>
</html>