<!DOCTYPE html>
<html>
  <head>
    <title>GoodWatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav class="navbar">
      <div class="navitem">
        <%= link_to "GoodWatch", shows_path, class:"title" %>          
      </div>
      <div class="navitem">
        <a class="text">
          Browse
        </a>
      </div>
      <div class="navitem">
        <%= form_with url: shows_path, class:"text", local: true, method: :get do %>
        <%= label_tag 'title_search' %>
        <%= text_field_tag 'title_search', nil, maxlength: 20 %>
        <%= submit_tag 'Search', class:"search-text"%>
        <% end %>
      </div>
      <div>
        <%= link_to (image_tag('plus.png')), new_show_path, class: "img navitem" %>
      </div>
      <div class="navitem">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        <a class="text">
          &nbsp | &nbsp
        </a> 
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'text'  %>
        <a class="text">
          &nbsp | &nbsp
        </a>
        <%= link_to "Login", new_user_session_path, :class => 'text'  %>
      <% end %>
      </div>
  </nav>
    
  </header>
  <%= yield %>
</html>